########################################
# Google Vertex AI (Gemini)
########################################

# Production
#VERTEX_PROJECT_ID=your-project-id
#VERTEX_LOCATION=your-location
#GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/service-account.json

# Express Mode
VERTEX_API_KEY=your-vertex-api-key


# Google GenAI Settings
VERTEX_MODEL=gemini-3-flash-preview
VERTEX_AI=true

